div {
    height: 1500px;
    width: 1500px;
    padding: 300px;
    border: 120px solid gray;
    margin: 300px;
}

.ola{
    width: 300px;
    padding:0;
    border:25px solid navy;
    margin: 25px;
}

body{
    background-image: url("Rayo_McQueen.png");
    background-position: 0px;
    height: 0px;
    width: 15px;
    margin: 20px;
}

p{
    color: crimson;
}
.ola {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }